body {
    background-color:#c2b9a4;
    background-size: cover;

}


.box {
    width: 900px;
    height: 200px;
    margin: 500px ;
    color: white;
    border: 20px solid;
    border-bottom-color: rgb(246, 255, 0);
    padding: 10px;


}
